<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskTrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TaskTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskTrayApp.Properties.Settings>
            <setting name="Activated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WideCharacter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommaSeparated" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskTrayApp.Properties.Settings>
        <TaskTray.Properties.Settings>
            <setting name="Activated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WideCharacter" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskTray.Properties.Settings>
    </userSettings>
</configuration>